<ion-header [attr.no-border]="noBorder">
  <ion-toolbar color="{{theme? theme : null}}">
    <ion-buttons slot="start">
      <ion-button *ngIf="hasAudioLoaded | async" (click)="openAudioModal()">
        <ion-icon name="play-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="scrolled">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!modal" (click)="openNotificationModal()">
        <ion-icon color="tertiary" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="modal" (click)="closeNotificationsModal()">
        <ion-icon color="{{theme == 'dark' ? light : tertiary}}" size="large" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>