<app-navbar title="Sermons" scrolled="scrolled"></app-navbar>

<ion-content>
    <div class="hero-wrap" style="background-image: url('http://chittagongit.com/download/387222');"></div>
    
    <ion-slides #sermonSlider pager="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesLoaded(sermonSlider)">
        <ion-slide *ngFor="let sermon of recentSermons" style="padding-bottom: 20px">
            <ion-card style="width: 100%">
                <ion-card-header>
                    <ion-grid>
                        <ion-row style="align-items: center">
                            <ion-col size="9">
                                <ion-card-title>{{sermon.title}}</ion-card-title>
                                <ion-card-subtitle>{{ sermon.date | date }}</ion-card-subtitle>
                            </ion-col>
                            <ion-col size="3" style="text-align: right">
                                <ion-button (click)="displayAudioModal(sermon.sermonAudio, sermon.sermonPhoto)" color="dark">
                                    <ion-icon name="play"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>

    
    <ion-item-divider color="light">
        <ion-label> Previous Sermons </ion-label>
    </ion-item-divider>
    
    <ion-list lines="full">
        <ion-item *ngFor="let sermon of pastSermons">
            <ion-grid>
                <ion-row style="align-items: center">
                    <ion-col size="9">
                        <ion-label style="width: 100%">{{ sermon.title }}</ion-label>
                    </ion-col>
                    <ion-col size="3">
                        <ion-button (click)="displayAudioModal(sermon.sermonAudio, sermon.sermonPhoto)" color="dark" size="small" fill="outline">
                            <ion-icon name="play"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    
</ion-content>
